# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.env.local
.env

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env 
boshan-store-firebase-adminsdk-fbsvc-d239dd1610.json
process.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
boshan-store-firebase-adminsdk-fbsvc-d239dd1610.json
# src/components/LandingContentPreorder.tsx
BirthdayGiftPage.tsx
Décor.tsx
EventsPae.tsx
FashionSection.tsx
HolidaySpecials.tsx
JewellriesBeadsPage.tsx
LipGloss.tsx
ToteBaSec.tsx
TravelSection.tsx
